*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    color: black;
}

h2{
    margin-left: 20px;
}

.slct{
    padding: 5px;
    margin: 10px;
    width: 200px;
    margin-left: 20px;
}

h3{
    margin-left: 20px;
}

.btn1{
    border: 100%;
    border-radius: 60%;
}
#vertical-line{
    width: 1px;
    height: 500px;
    background-color: black;
    margin: 0 auto;
}

